version: '3.9'

services:
 app:
  image: hrithikraj2537/foodmgmt
  ports:
   - 7080:8080
  depends_on:
   - db
 db:
  image: postgres:latest
  environment:
   POSTGRES_DB: mydb
   POSTGRES_USER: postgres
   POSTGRES_PASSWORD: postgres
  ports:
   - "5432:5432"